/* General Properties */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(236, 225, 225);
}

/* Header */

header {
    text-align: center;
}

/* Main Content */

main {
    display: flex;
    justify-content: center;
}

header h1 {
    text-shadow: 1px 1px 2px rgb(48, 46, 46);
    font-size: 48px;
}

.calculator-container {
    background-color: rgb(215, 208, 208);
    padding: 8px;
    border: 10px solid rgb(34, 32, 32);
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgb(48, 46, 46);
}

.display-screen {
    height: 10rem;
    width: 23rem;
    border: 3px solid rgb(34, 32, 32);
    border-radius: 12px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    overflow: hidden;
}

.current-operation {
    font-size: 1.8rem;
}

.operation-result {
    font-size: 2.8rem;
}

.section1, .section2, .section3, .section4, .section5 {
    display: flex;
    gap: 8px;
    padding-top: 10px;
}

#clear, #delete {
    width: calc(100%/2);
    height: 5rem;
    font-size: larger;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

#clear {
    background-color: rgb(164, 59, 59);
}

#delete {
    background-color: rgb(182, 119, 3);
}

.section2 > *, .section3 > *, .section4 > *, .section5 > * {
    width: calc(100%/4);
    height: 3rem;
    color: rgb(197, 190, 190);
    font-size: large;
    font-weight: bold;
    background-color: rgb(34, 32, 32);
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
    border-color: rgb(48, 46, 46);
    box-shadow: 0 0 0.5rem rgb(48, 46, 46);
}

/* Footer */

footer {
    margin-top: auto;
    text-align: center;
}

footer p {
    font-size: 20px;
    font-weight: bolder;
}