/* General Properties */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100%;
}

/* Header */

header {
    text-align: center;
}

/* Main Content */

main {
    display: flex;
    justify-content: center;
}

.calculator-container {
    padding: 8px;
    border: 20px solid brown;
}

.display-screen {
    min-height: 200px;
    min-width: 400px;
    background-color: rgb(240, 240, 240);
}

.last-operation-display {
    min-height: 50px;
    text-align: right;
    font-size: 40px;
}

.current-operation-display {
    min-height: 100px;
    text-align: right;
    font-size: 50px;
}

.section1, .section2, .section3, .section4, .section5 {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

#clear, #delete {
    min-width: 195px;
    min-height: 60px;
}

.section2 > *, .section3 > *, .section4 > *, .section5 > * {
    min-width: 90px;
    min-height: 40px;
}

/* Footer */

footer {
    margin-top: auto;
    text-align: center;
}

footer p {
    font-size: 20px;
}